@use "src/styles/_breakpoints.scss" as *;

.language-changer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  img {
    width: 25px;
  }

  p {
    font-size: 1.1em;
  }

  .arrow-img {
    width: 10px;
  }

  &.show-languages {
    .language-options {
      display: block;
    }
  }
}

.language-options {
  position: absolute;
  top: 30px; /* adjust the top position according to your design */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  display: none;

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 0.9em;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .language-changer {
    p {
      font-size: 0.9em;
    }

    img {
      width: 20px;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($tablet - 1px)) {
  .language-changer {
    img {
      width: 15px;
    }
  }

  .language-options {
    padding: 5px;

    li {
      padding: 8px;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .language-options {
    li {
      font-size: 0.8rem !important;
    }
  }
}
