@use "src/styles/_breakpoints.scss" as *;

.language-changer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &.show-languages {
    .language-options {
      display: block;
    }
  }
}

.language-options {
  position: absolute;
  top: 30px; /* adjust the top position according to your design */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .language-options {
    li {
      font-size: 0.8rem;
    }
  }
}
