@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.methods--section {
  padding: 60px 300px 200px 300px;

  h1 {
    font-family: FiraGOBold;
    color: #00255e;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    text-align: center;
    color: #1e1e1e;
  }

  .container {
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: auto;
    gap: 15px;
    border-radius: 50px;
    flex-direction: column;
    margin: auto;
    padding: 50px 100px;

    .top-side {
      display: flex;
      gap: 50px;
      justify-content: center;

      img {
        max-height: 400px;
      }

      .right-side {
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .top {
          display: flex;
          align-items: center;
          gap: 20px;

          h2 {
            font-family: FiraGOBold;
            color: #ee5453;
            text-align: start;
            font-size: 1.4rem;
          }
        }
        .bot {
          p {
            color: #1e1e1e;
            line-height: 40px;
          }
        }
      }
    }

    .bottom-side {
      justify-content: center;
      display: flex;
      gap: 50px;

      .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 520px;

        .top {
          display: flex;
          align-items: center;
          gap: 20px;

          h2 {
            font-family: FiraGOBold;
            color: #4529cc;
            text-align: start;
            font-size: 1.4rem;
          }
        }

        p {
          color: #1e1e1e;
          line-height: 40px;
        }

        button {
          padding: 20px 40px;
          border-radius: 15px;
          font-family: inherit;
          font-weight: inherit;
          line-height: 19px;
          outline: none;
          border: none;
          font-size: 1.1em;
          cursor: pointer;
        }

        .self-registration--btn {
          background-color: #165ce2;
          color: #ffffff;
          align-self: start;
          position: relative; /* Add this line */

          .tooltip {
            position: absolute;
            top: 170%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: display 0.3s; /* Add this line */
            background-color: #fff; /* Add a background color to the tooltip */
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.8rem;
            color: red;
            border: 1px solid blue;
            width: 200px;
            display: none;
          }

          &:hover {
            .tooltip {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .methods--section {
    padding: 60px 0;
  }
}

@media only screen and (min-width: 0) and (max-width: calc($tablet - 1px)) {
  .methods--section {
    padding: 60px 0;

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 20px;
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
    }

    .container {
      padding: 20px 40px;
      gap: 40px;

      img {
        display: none;
      }

      .top-side {
        .right-side {
          .top {
            h2 {
              font-size: 20px;
              margin: inherit;
              width: 100%;
              margin-bottom: 15px;
            }
          }

          .bot {
            p {
              font-size: 16px;
              line-height: 25px;
            }
          }
        }
      }

      .bottom-side {
        .left-side {
          .top {
            h2 {
              font-size: 20px;
              margin: inherit;
              width: 100%;
              margin-bottom: 15px;
            }
          }

          p {
            font-size: 16px;
            line-height: 25px;
          }

          button {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .methods--section {
    padding: 60px 10px;
  }
}
