@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.history--section {
  padding: 20px 100px 60px 100px;
  background: linear-gradient(235.95deg, #0e2756 -8.02%, #3e275a 94.77%);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .history-container {
    display: flex;
    justify-content: space-around;

    .right-side {
      margin-top: 100px;
      display: flex;
      gap: 50px;
      flex-direction: column;
      flex: 1;
      justify-content: center;

      h1 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 900;
        font-family: FiraGOBold;
      }

      p {
        color: #ffffff;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.02em;
      }

      p:first-child {
        margin-bottom: 30px;
      }

      .time-left {
        overflow: hidden;
        max-width: max-content;
        border: 1px solid #f78a23;
        border-radius: 20px 20px 20px 0;

        .top-side {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin: 0;
          }

          p.year {
            padding: 10px 30px;
            background-color: #f78a23;
            border-radius: 20px 0 20px 0;
            font-weight: 900;
            font-size: 2em;
            letter-spacing: 0.15em;
          }

          p.time-left--para {
            text-align: center;
            flex: 1;
            font-size: 1.5em;
            font-weight: 900;
          }
        }

        .bottom-side {
          padding: 0 30px;
          display: flex;
          gap: 20px;

          h1,
          p {
            margin: 0;
            text-wrap: nowrap;
          }

          h1 {
            letter-spacing: 0.02em;
          }

          p {
            color: #f78a23;
            margin-bottom: 10px;
          }
        }

        .bottom-side div {
          width: 80px;
        }
      }

      .polygon {
        align-self: start;
        margin-top: -35px;
      }
    }

    .left-side {
      background: url(/src/assets/images/history-background.svg);
      background-position: 70% 45%;
      background-repeat: no-repeat;
      display: flex;

      img {
        width: 100%;
      }
    }
  }

  .years-container {
    width: 100%;
    display: flex;
    gap: 2px;

    .years-child {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 2px;

      p {
        color: rgba(156, 204, 101, 1);
      }
      .border-container {
        width: 100%;
        border-bottom: 3px solid rgba(156, 204, 101, 1);
      }

      .text {
        position: relative;

        p.dot {
          font-size: 1.5em;
        }

        p.year {
          position: absolute;
          transform: translateX(-12px);
          font-size: 1.3em;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .history--section {
    padding: 20px 50px 50px 50px;

    .history-container {
      .right-side {
        gap: 30px;
        margin-top: 60px;

        h1 {
          font-size: 35px;
        }

        p {
          font-size: 16px;
          line-height: 28px;
        }

        .polygon {
          margin-top: -15px;
        }
      }

      .left-side {
        background-position: 50% 50%;
      }
    }
  }
}

@media only screen and (min-width: calc($mobile + 1px)) and (max-width: calc($tablet - 1px)) {
  .history--section {
    padding: 20px 30px 40px 30px;

    .history-container {
      .right-side {
        gap: 20px;
        margin-top: 40px;
        max-width: 350px;

        h1 {
          font-size: 22px;
        }

        p {
          font-size: 12px;
          line-height: 20px;
        }

        .para-container {
          width: 80%;
        }

        .time-left {
          width: 80%;

          .top-side {
            margin-bottom: 12px;

            p.year {
              font-size: 1em;
            }
            p.time-left--para {
              font-size: 1em;
            }
          }
        }

        .polygon {
          margin-top: -15px;
        }
      }

      .left-side {
        background-position: 50% 50%;
        background-size: 300%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .years-container {
      .years-child {
        .text {
          p.year {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: calc($mobile + 1px)) and (max-width: 850px) {
  .history--section {
    .history-container {
      .right-side {
        padding-left: 30px;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .history--section {
    padding: 20px 40px 40px 40px;
    .history-container {
      flex-direction: column;

      .right-side {
        gap: 20px;
        margin-top: 10px;

        h1 {
          font-size: 22px;
        }

        p {
          font-size: 12px;
          line-height: 20px;
        }

        p:first-child {
          margin-bottom: 20px;
        }

        .time-left {
          .top-side {
            margin-bottom: 12px;

            p.year {
              font-size: 1em;
            }
            p.time-left--para {
              font-size: 1em;
            }
          }
          .bottom-side {
            padding: 0 10px;
            gap: 0;
            justify-content: center;

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }

        .polygon {
          margin-top: -15px;
        }
      }

      .left-side {
        background: none;
        text-align: center;
      }
    }

    .years-container {
      .years-child {
        .text {
          p.year {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
