@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.methodology-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0 150px 0;

  h1 {
    color: #00255e;
    text-align: center;
    font-family: FiraGOBold;
    font-size: 2.5rem;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 25px;

    .background {
      border-radius: 50px;
      padding: 0 60px;
      background-color: #2b66c0;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 400px;
    margin: auto;

    p {
      width: 90%;
      color: #1e1e1e;
      line-height: 40px;
      font-size: 1.1rem;

      span {
        display: block;
        margin-top: 30px;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }

    li {
      margin: -15px;
      font-size: 1.1rem;
    }

    li::before {
      content: "•"; /* Unicode character for a bullet point */
      font-size: 4em; /* adjust the size as needed */
      margin-right: 0.3em;
      vertical-align: middle; /* align the dot with the text */
    }
  }
}

@media only screen and (min-width: 1501px) and (max-width: $desktop) {
  .methodology-container {
    padding: 80px 0 130px 0;

    .container {
      .background {
        img {
          max-width: 500px;
        }
      }
      .fao {
        max-width: 350px;
      }
    }
    .text-container {
      padding: 0 300px;
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: 1500px) {
  .methodology-container {
    padding: 60px 0 110px 0;

    .container {
      .background {
        img {
          max-width: 450px;
        }
      }
      .fao {
        max-width: 310px;
      }
    }

    .text-container {
      padding: 0 200px;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  .methodology-container {
    gap: 30px;
    padding: 30px 0 70px 0;

    h1 {
      font-size: 22px;
    }

    .container {
      .background {
        img {
          max-width: 300px;
        }
      }
      .fao {
        max-width: 200px;
      }
    }

    .text-container {
      padding: 0 100px;
      gap: 40px;

      p {
        line-height: 25px;
        font-size: 0.8rem;

        span {
          margin-top: 15px;
        }
      }
      li {
        font-size: 0.8rem;
        line-height: 55px;
      }

      li::before {
        font-size: 3em; /* adjust the size as needed */
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: calc($mobile - 1px)) {
  .methodology-container {
    padding: 15px 0 30px 0;
    gap: 30px;

    h1 {
      font-size: 22px;
    }

    .container {
      flex-direction: column;
      align-items: center;

      .background {
        img {
          max-width: 250px;
        }
      }
      .fao {
        max-width: 250px;
      }
    }

    .text-container {
      padding: 0 20px;
      gap: 30px;

      p {
        line-height: 25px;
        font-size: 0.8rem;

        span {
          margin-top: 15px;
        }
      }

      li {
        margin: 0;
        line-height: 25px;
        font-size: 0.8rem;
      }

      li::before {
        font-size: 3em; /* adjust the size as needed */
      }
    }
  }
}
