@use "/src/styles/variables" as *;
@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.nav-container {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  background-color: #ffffff;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

  nav {
    display: flex;
    justify-content: space-between;
    gap: 200px;

    .right-side {
      display: flex;
      gap: 30px;
      align-items: center;

      .sakstat-logo {
        max-width: 150px;
      }
    }

    .left-side {
      display: flex;
      align-items: center;
      gap: 50px;
      font-weight: 700;
      font-size: 1em;

      a {
        color: $header-color;
        text-decoration: none;
        font-family: FiraGOBold;
      }

      a:visited {
        color: inherit;
        text-decoration: none;
      }

      ul {
        display: flex;
        gap: 50px;
        list-style: none;

        li {
          cursor: pointer;
          text-decoration: none;
          color: $header-color;
          transition: transform 0.3s; /* Add this line */

          &:hover {
            transform: scale(1.1); /* Add this line */
          }
        }
      }

      .buttons-container {
        display: flex;
        gap: 20px;

        button {
          padding: 20px 40px;
          border-radius: 15px;
          font-family: inherit;
          font-weight: inherit;
          line-height: 19px;
          outline: none;
          border: none;
          font-size: 1.1em;
          cursor: pointer;
          font-size: 0.9rem;
          font-size: 1rem;
        }

        .vacancies--btn {
          color: #fe7155;
          border: 1px solid #fe7155;
          background-color: #ffffff;
          transition: background-color 0.3s, color 0.3s; /* Add this line */

          &:hover {
            background-color: #fe7155;
            color: #ffffff;
          }
        }

        .self-registration--btn {
          background-color: #165ce2;
          color: #ffffff;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .nav-container {
    nav {
      gap: 60px;

      .right-side {
        img {
          width: 100px;
          height: auto;
        }

        .sakstat-logo {
          width: 110px;
        }
      }

      .left-side {
        gap: 20px;

        ul {
          gap: 15px;
        }

        .buttons-container {
          button {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: calc($mobile + 1px)) and (max-width: calc($tablet - 1px)) {
  .nav-container {
    nav {
      gap: 20px;

      .right-side {
        gap: 20px;

        .sakstat-logo {
          width: 75px;
        }

        img {
          width: 60px;
          height: auto;
        }
      }

      .left-side {
        gap: 10px;

        ul {
          gap: 10px;

          li {
            font-size: 0.7rem;
          }
        }

        .buttons-container {
          gap: 10px;

          button {
            padding: 5px 10px;
            font-size: 0.7rem;
          }
        }

        .language-changer {
          gap: 5px;

          img {
            width: 12px;
            height: auto;
          }

          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .nav-container {
    nav {
      flex-direction: column;
      gap: 25px;
      align-items: center;

      .left-side {
        gap: 20px;
        flex-direction: column;

        ul {
          gap: 5px;

          li {
            font-size: 14px;
          }
        }

        .buttons-container {
          button {
            padding: 7px 14px;
            font-size: 0.8rem;
          }
        }

        .language-changer {
          img {
            width: 15px;
          }

          img.down-arrow {
            width: 10px;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
