@use "src/styles/_breakpoints.scss" as *;

@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.legal--section {
  margin: 0 130px 40px 130px;
  background-color: #f3eeff;
  border-radius: 50px;

  .legal-container {
    gap: 50px;
    display: flex;
    flex-direction: column;
    max-width: 130rem;
    margin: auto;
    background-image: url("/src/assets/images/scales.png"),
      url("/src/assets/images/legal-background2.svg"),
      url("/src/assets/images/legal-background1.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, right, 85% center;
    background-size: contain, contain, contain;

    .right-side {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 50px;

      h1 {
        color: #00255e;
        text-align: center;
        font-weight: 900;
        font-size: 36px;
        font-family: inherit;
        font-family: FiraGOBold;
      }

      p {
        width: 50%;
        line-height: 36px;
      }

      .container {
        display: flex;
        gap: 40px;
        width: 60%;

        div {
          border-radius: 20px;
          padding: 30px 20px;
          background-color: #8e5aff;
          color: #ffffff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          flex: 1;

          p {
            line-height: 20px;
            text-align: center;
            width: 100%;
          }
        }
      }
      a {
        align-self: start;
      }

      button {
        padding: 20px 40px;
        border-radius: 15px;
        font-family: inherit;
        font-weight: inherit;
        line-height: 19px;
        outline: none;
        border: none;
        font-size: 1.1em;
        cursor: pointer;
        background-color: #ff3a6e;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .legal--section {
    .legal-container {
      background-image: url("/src/assets/images/legal-background2.svg"),
        url("/src/assets/images/legal-background1.svg");
      background-position: right, 80% center;

      .right-side {
        h1 {
          font-size: 35px;
        }

        p {
          width: 90%;
        }

        .container {
          width: 70%;
        }
      }
    }
  }
}

@media only screen and (min-width: calc($mobile + 1px)) and (max-width: calc($tablet - 1px)) {
  .legal--section {
    margin: 0 80px 40px 80px;

    .legal-container {
      background: none;

      .right-side {
        gap: 25px;
        margin: 30px;
        align-items: center;

        h1 {
          font-size: 22px;
        }

        p {
          width: 100%;
          margin: auto;
          line-height: 25px;
        }

        .container {
          width: 60%;
          gap: 20px;
          flex-direction: column;

          div {
            padding: 15px 8px;
            // max-width: 300px;

            p {
              font-size: 0.9rem;
            }
          }
        }
        a {
          align-self: center;
        }
        button {
          padding: 10px 20px;
          line-height: 15px;
          font-size: 0.9em;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile) {
  .legal--section {
    margin: 0 80px 40px 80px;

    .legal-container {
      background: none;

      .right-side {
        gap: 25px;
        margin: 30px;
        align-items: center;

        h1 {
          font-size: 22px;
        }

        p {
          width: 100%;
          margin: auto;
          line-height: 25px;
        }

        .container {
          width: 60%;
          gap: 20px;
          flex-direction: column;

          div {
            padding: 15px 8px;

            p {
              font-size: 0.9rem;
            }
          }
        }
        a {
          align-self: center;

          button {
            padding: 10px 20px;
            line-height: 15px;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
