@font-face {
  font-family: FiraGOBold;
  src: url(/src/assets/fonts/FiraGO/FiraGO-ExtraBold.otf);
}

.legal--section {
  margin: 0 130px 40px 130px;
  background-color: #f3eeff;
  border-radius: 50px;
  // padding: 50px 80px;

  .legal-container {
    gap: 50px;
    display: flex;
    flex-direction: column;
    max-width: 130rem;
    margin: auto;
    background-image: url("/src/assets/images/scales.png"),
      url("/src/assets/images/legal-background2.svg"),
      url("/src/assets/images/legal-background1.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right center, right top, 85% center;

    .right-side {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 50px;

      h1 {
        color: #00255e;
        text-align: center;
        font-weight: 900;
        font-size: 36px;
        font-family: inherit;
        font-family: FiraGOBold;
      }

      p {
        width: 50%;
        line-height: 36px;
      }

      .container {
        display: flex;
        gap: 40px;
        width: 60%;

        div {
          border-radius: 20px;
          padding: 30px 20px;
          background-color: #8e5aff;
          color: #ffffff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          flex: 1;

          p {
            line-height: 20px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    button {
      padding: 20px 40px;
      border-radius: 15px;
      font-family: inherit;
      font-weight: inherit;
      line-height: 19px;
      outline: none;
      border: none;
      font-size: 1.1em;
      cursor: pointer;
      background-color: #ff3a6e;
      color: #ffffff;
      align-self: start;
    }
  }
}

// .backgrounds {
//   position: absolute;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .background-2 {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .scales {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
